<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name='description' content='{{htmlWebpackPlugin.options.description}}' />
  <link rel='stylesheet' href='./styles/index.css' />
  <script src='./scripts/index.js' defer></script>
</head>

<body id='basepage'>
  <ul>
    <!-- Level 0 -->
    <li id="qw" class="menu-item">
      Home
      <ul>
        <!-- Level 1 -->
        <li id="asd" class="menu-item">
          Private Area
          <ul>
            <!-- Level 2 -->
            <li id="asdf" class="menu-item">Consulting</li>
            <li id="zxcv" class="menu-item">Mortages</li>
            <li id="qazw" class="menu-item">Investments</li>
            <li id="sxed" class="menu-item">Insurance</li>
            <li id="qsxe" class="menu-item">Retirement</li>
          </ul>
        </li>
        <li id="zxc" class="menu-item">
          Client Area
          <ul>
            <!-- Level 2 -->
            <li id="zxc1" class="menu-item">Subitem 1</li>
            <li id="zxc2" class="menu-item">Subitem 2</li>
          </ul>
        </li>
        <li id="rty" class="menu-item">
          About Us
          <ul>
            <!-- Level 2 -->
            <li id="rty1" class="menu-item">Subitem 1</li>
            <li id="rty2" class="menu-item">Subitem 2</li>
          </ul>
        </li>
        <li id="fgh" class="menu-item">
          Tools and Resources
          <ul>
            <!-- Level 2 -->
            <li id="fgh1" class="menu-item">Subitem 1</li>
            <li id="fgh2" class="menu-item">Subitem 2</li>
          </ul>
        </li>
        <li id="vbn" class="menu-item">
          Knowledge Base
          <ul>
            <!-- Level 2 -->
            <li id="vbn1" class="menu-item">Subitem 1</li>
            <li id="vbn2" class="menu-item">Subitem 2</li>
          </ul>
        </li>
      </ul>
    </li>


  </ul>

</body>

</html>